html {
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100vw;
    /* 1REM = 10px  */

}
*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    

}

.ok {

    background-image: url('../src/Icos/wave.svg');
    margin: 0 !important;

}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
 
    cursor: pointer;
    font-size: 10px;
}

div {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
   
}

.active {

  border-radius: 5px;
  border: 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background-color: #63ac44;
padding: 10px 20px 2px 20px;
bottom: 12px;

  

}

.icos {
    width: 8%;
    padding-right: 5px;
}
.icos20 {
    width: 78%;
    align-items: center;
text-align: center;
margin-left: 20PX;
border-radius: 12px;
}
 .hashtag{
     
    color: white !important;
    background-color: #7fbb65 ;
    display: block;
    padding:5px;font-size:20px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
 }

 .ref{
   
    text-align: center;
    padding:2px;
    color: #6F8AB7;
  
    display: block;
    padding:3px;
    font-size:13px;

    border-radius: 5px;
   
 }

 .hashtag p {
   
   
    color: rgb(9, 172, 50) !important;
 }

 .ref h2 {
   
 
   font-size: 15px;
    
 }

 


 .ref:hover{
     color:#ffffff
     
 }


 .hashtag:hover {
   
    background-color:rgb(99, 189, 224);
    color:#08751a;
    
 }

.icos50 {
    width: 50%;
    align-items: center;
text-align: center;
margin-left: 20PX;
border-radius: 12px;
}

.icos80 {
    width: 100%;
    align-items: center;
text-align: center;
border-radius: 12px;
}

.icosmin{
    height: 20%;
   
}
.icos40 {
    width: 90%;
    align-items: center;
text-align: center;
margin-left: 20PX;
}

.but{
    width: 30%;
    padding-right: 5px;
    align-items: center;
    text-align: center;
    padding:5px;
    border: 0px;
    margin: 8px;
    cursor: pointer;
}
.active a {
background-color: #63ac44 ;
padding: 20px  ;
border-width: 3px ;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1REM = 10px  */
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


.logo {

    float: left;
    position: relative;
    margin: 10px 25px 15px 10px;
    padding-right: 250px;
}